@define-color back #1A1A1A;
@define-color color #CCCCCC;
@define-color border #0E0E0E;
@define-color inactive #484848;
@define-color urgent #FFFFFF;

* {
    border: none;
    border-radius: 5px;
    font-family: "DaddyTimeMono", Mono;
    font-weight: Bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @color;
}

tooltip {
    color: @color;
    background: @back;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @border;
}

#workspaces button {
    background: @back;
    padding: 4px 8px;
    color: @inactive;
    margin-left: 1px;
    margin-right: 1px;
}

#workspaces button.active {
    color: @urgent;
}

#workspaces button.focused {
    color: @color;
    background: @back;
    border-radius: 10px;
   }

#workspaces button.urgent {
    color: @urgent;
    background: @back;
    border-radius: 10px;
}

#workspaces button:hover {
    color: @color;
    background: @back;
}

#custom-nix,
#gamemode,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#cpu,
#memory,
#gamemode,
#tray {
    color: @color;
    background: @back;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
}

#cpu {
    color: @color;
    background: @back;
    border-radius: 10px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 1px;
    margin-right: 1px;
}

#memory {
    color: @color;
    background: @back;
    border-radius: 10px; 
    margin-right: 5px;
    margin-left: 1px;
}

#gamemode {
    color: @color;
    background: @back;
    color: #CCCCCC;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
}

#tray {
    color: @color;
    background: @back;
    border-radius: 10px;
    margin-right: 1px;
    margin-left: 1px;
}

#workspaces {
    color: @color;
    background: @back;
    border-radius: 10px;
}

#custom-nix {
    color: @color;
    background: @back;
    border-radius: 10px;
    margin-left: 5px;
}

#network {
    color: @color;
    background: @back;
    border-radius: 10px 10px 10px 10px; 
    border-left: 0px;
    border-right: 0px;
    margin-right: 1px;
    margin-left: 1px;
}

#window {
    color: @color;
    background: @back;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
}

#clock {
    color: @color;
    background: @back;
    border-radius: 10px 10px 10px 10px;
    margin-left: 1px;
    margin-right: 1px;
    border-right: 0px;
}
