@define-color back rgba( 14, 14, 23, 0.7);
@define-color color #CCCCCC;
@define-color border #0E0E0E;
@define-color inactive rgba(204, 204, 204, 0.75);
@define-color urgent #FFFFFF;

* {
    font-family: "DaddyTimeMono", Mono;
    font-weight: Bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    color: @color;
    background: @back;
    border-color: @border;
    border-radius: 10px;
    border-width: 5px;
}

#workspaces button {
    color: @color;
    margin-left: 1px;
    margin-right: 1px;
}

#workspaces button.active {
    color: @urgent;
}

#workspaces button.focused {
    border-radius: 10px;
   }

#workspaces button.urgent {
    color: @urgent;
    background: @back;
    border-radius: 10px;
}

#workspaces button:hover {
    color: @color;
    background: @back;
}

#custom-nix,
#gamemode,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#battery,
#temperature,
#cpu,
#memory,
#gamemode,
#tray {
    padding: 0px 10px;
    color: @color;
    background: @back;
    margin: 3px 0px;
    margin-top: 10px;
}

#cpu {
    color: @color;
    background: @back;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 1px;
    margin-right: -1px;
}

#memory {
    color: @color;
    background: @back;
    border-radius: 0px 10px 10px 0px; 
    margin-right: 5px;
    margin-left: 0px;
}

#battery {
    color: @color;
    background: @back;
    border-radius: 10px; 
    margin-right: 5px;
    margin-left: 1px;
}

#temperature {
    color: @color;
    background: @back;
    border-radius: 10px; 
    margin-right: 5px;
    margin-left: 1px;
}

#gamemode {
    color: @color;
    background: @back;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
}

#tray {
    color: @color;
    background: @back;
    border-radius: 10px;
    margin-right: 1px;
    margin-left: 1px;
}

#workspaces {
    color: @color;
    background: @back;
    border-radius: 0px 10px 10px 0px;
}

#custom-nix {
    color: @color;
    background: @back;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
}

#network {
    color: @color;
    background: @back;
    border-radius: 10px; 
    border-left: 0px;
    border-right: 0px;
    margin-right: 1px;
    margin-left: 1px;
}

#window {
    color: @color;
    background: @back;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
}

#clock {
    color: @color;
    background: @back;
    border-radius: 10px;
    margin-right: 5px;
}
